:root{
    --dark-red: #701616;
    --red: #cb3030;
    --dark: #141414;
    --dark-grey: #333;
    --grey: #ddd;
    --blue: #2496ff;
    --green: #1DB954;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    position: relative;
    /* Background Image */
    background-image: url("../img/home-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* End of Background */

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 100;
    transition: background-color 0.3s ease;
}

.navbar.dark-bg {
    background-color: #333; /* For on-scroll transitioning */
}

.nav-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 3.5rem;
}

.nav-title img{
    width: 3rem;
}

.nav-title h3{
    margin: 1rem;
    font-size: 1.5rem;
    color: var(--red);
}

.nav-list{
    margin: 1rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nav-list li{
    list-style: none;
    margin: 0 1rem 0;
}

.nav-list li a{
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--grey);
    padding: .30rem .70rem;
    transition: all .2s ease;
}

.nav-list li a:hover{
    color: var(--red);
}

/* End of Navigation */

/* Home CSS */
.introduction{
    position: relative;
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction .getstart{
    border-radius: .50rem;
    padding: 1rem;
    margin: 0 13rem;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction .getstart .introductory-text{
    color: var(--red);
    font-weight: bold;
    font-size: 4rem;
}

.introduction a{
    background-color: var(--red);
    padding: .5rem;
    color: var(--grey);
    border: none;
    text-decoration: none;
    border-radius: .40rem;
    margin-top: 2rem;
}

.introduction a:hover{
    opacity: 80%;
    transition: all .25s ease;
}

.schedules{
    background-color: var(--green);
}

.footer{
    background-color: var(--dark-grey);
}

/* End of Home CSS */

/* Helper classes for defining dynamic styling */
.highlighted{
    border-bottom: var(--red) 2px solid;
}
/* End of helper classes */

/* Responsive Media Css */
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    /* Add other responsive styles for tablet screens */
}

/* Media query for mobile screens */

@media only screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .container {
        padding: 5px;
    }

    /* Add other responsive styles for mobile screens */
}
/* End of Responsive Media */