{% extends "base.html" %}
    {% block title %} DotaMaker | Home {% endblock %}
    {% block head %}{% endblock %}
    {% block body %}
    <div class="introduction" id="home">
        <div class="getstart">
            <h4 class="introductory-text typewriter">CREATE. MANAGE.</h4>
            <h4 class="introductory-text">TOURNAMENTS</h4> 
        </div>
        <a href="{{ url_for('auth.login') }}">Get Started</a>
    </div>
    <div class="schedules" id="schedule">
        <div class="schedule-header">
            <h2>Schedules</h2>
        </div>
        <div class="schedule-container">
            <ul>
                <li>Live Match</li>
                <li>Live Match</li>
                <li>Live Match</li>
                <li>Live Match</li>
                <li>Live Match</li>
            </ul>
    </div>
    <footer class="footer">
        <div class="footer-logo">
            <img src="{{ url_for('static', filename='img/logo-transparent.png')}}" alt="footer logo">
        </div>
        <div class="footer-links" id="footer">
            <ul>
                <li>Random Links</li>
                <li>Random Links</li>
                <li>Random Links</li>
                <li>Random Links</li>
                <li>Random Links</li>
                <li>Random Links</li>
                <li>Random Links</li>
                <li>Random Links</li>
                <li>Random Links</li>
                <li>Random Links</li>
            </ul>
        </div>
    </footer>
    {% endblock%}
